greenmarkets/greenmarketproducts_mastertrue.xlsx
algo_practice.ipynb
datachallenges/
.vscode/
__pycache__
greenmarkets/bigoven/
greenmarketproducts.xlsx
greenmarkets/spoonac/
greenmarkets/last_results.json
~*
.ipynb_checkpoints/
grownycvendors.xlsx
old/
program/
workshops/
apikey.txt
greenmarkets/bigoven/maindish/
applying/
notesandpres/

