 {% extends 'base.html.j2' %}
 {% block main %}
 {% if allout %}
  <p>

 <b> <i> Ingredients that are available at the market are already in your shopping list at the bottom of the page.
 Those that are not available are detailed below: </b> </i>
 <br/>
</p>
 {% for out in allout %}
 <p>
{% if out['where_available'] is none and out['cos_sim'] is not none and out['cos_sim'] >= 0.37 %}
  The farmers market does not have <b> {{out['ingredient']}} </b>
  but our algorithm thinks <b> {{out['match'][0]}} </b> is a solid replacement.
   <br/>
{% endif %}

{% if out['where_available'] is none and out['cos_sim'] is not none and out['cos_sim'] < 0.37 and out['cos_sim'] > 0 %}
   The farmers market does not have <b> {{out['ingredient']}} </b>
   but our algorithm thinks <b> {{out['match'][0]}} </b>  is the closest ingredient available. 
   <i> However </i> we are smart enough to tell that is not a great replacement,
     so you can also try asking at this store, which often has items similar 
     to <b> {{out["ingredient"]}} </b>: <i> {{out['similar_vendor'][0]}} </i>
      <br/>
{% endif %}

{% if out['where_available'] is none and out['cos_sim'] is not none and out['cos_sim'] == 0 %}
   The farmers market doesnt have <b> {{out["ingredient"]}} </b>
     ... we hate to say it, but <b> {{out["ingredient"]}} </b> might require a trip to a traditional grocery store.
 <br/>
{% endif %}

{% if out['baking'] %}
We notice that <b> {{out['ingredient']}} </b>  is often found in the baking section, maybe you have it in your pantry?
 <br/>
{% endif %}

{% if out['spices'] %}
It looks like <b> {{out['ingredient']}} </b> is a dried spice, which means it is likely in your cabinet! If not you may be able to get the fresh version!
Try at <i> {{out['spice_businesses'][0]}} </i>
 <br/>
{% endif %}

{% if out['try_fresh'] %}
It looks like  <b> {{out['ingredient']}} </b>  is usually pre-packaged, but it might be able to be made from scratch with
farmers market ingredients! Try looking it up online, or ask at the produce stand!
 <br/>
</p>
{% endif %}
{% endfor %}
{% endif %}

{% if wheretoshop %}
   <p>
   <br/>
  <b> <i> We have prepared you a grocery list based on the Union Square farmers market and swapped in the above matches: </b> </i>
   <br/>
   <b> Vendor </b> :  <i> Ingredient(s) </i>
   <br/> <br/>
   {% for place in wheretoshop %}
     <b> {{place}} </b>:  <i> {{', '.join(wheretoshop[place])}} </i>

      <br/> 

   {% endfor %}
   </p> 

 {% endif %}






















{# 
  {% if out['where_available'] is none and out['cos_sim'] >= 0.37 %}
   The farmers market doesnt have <b> {{out["ingredient"]}} </b>, but our algorithm thinks <b> {{out["match"][0]}} </b> is a solid replacement!
   {% endif %}
   
   {% if out['where_available'] is none and out['cos_sim'] < 0.37 and out['similar_vendor'] is not none %}
      The farmers market doesnt have <b> {{out["ingredient"]}}</b>, but our algorithm thinks <b> {{out["match"][0]}}</b> is the closest ingredient available.
       <br/>
       <i>However </i>, we are smart enough to tell that is not a great replacement, so you can also try asking at these
          stores, who often have items similar to <b> {{out["ingredient"]}} </b>: <i>{{', '.join(out["similar_vendor"][0])}}</i>
   {% endif %}

   {% if out['where_available'] is none and out['cos_sim'] < 0.37 and out['similar_vendor'] is none %}
   The farmers market doesnt have <b> {{out["ingredient"]}} </b>, but our algorithm thinks <b> {{out["match"][0]}} </b> is the closest ingredient available.
   <br/>
   <i> However </i>, we are smart enough to tell that is not a great replacement... I hate to say it, but <b> {{out["ingredient"]}} </b> might require a trip to a traditional grocery store.
   {% endif %}
 {% endfor %}
 {% endif %}
 </p>

 {% if wheretoshop %}
   <p>
   <br/>
   We have prepared you a grocery list and swapped in the above matches:
   </br/>
   <b> Vendor </b> :  <i> Ingredient(s) </i>
   <br/> <br/>
   {% for place in wheretoshop %}
     <b> {{place}} </b>:  <i> {{', '.join(wheretoshop[place])}} </i>

      <br/> 

   {% endfor %}
   </p> 

 {% endif %} #}
 {% endblock main %}