tmp/
eatlocal/create_manualvalid.ipynb
production_notebook.ipynb
get_farmersdata.ipynb
test_data/
science.py
Untitled.ipynb
generated_backup/*
generated_data/*
eatlocal/templates/*
eatlocal/static/*
juneveggies.txt
apikey.txt
